* {
	margin: 20px; 
	box-sizing: border-box;
}

.title{
    font-size: 14px;
    font-family: Arial;
}

.App-container{
    max-height: 140px;
    max-width: 520px;
}
.App-Info {
    padding-left: 0px;
    padding-right: 40px;
}

.App-Info p{
    font-size: 16px;
    font-family: Arial;
    color: black;
}


.App {
    width: 90%;
    height: 30vh;
    display: flex;
    justify-content:center;
    align-items: center;
  }
    
  table {
    border: 2px solid forestgreen;
    width: 400px;
    height: 100px;
    background: url('../images/circles.png') no-repeat, linear-gradient(to right, #cccccc, forestgreen);
    border-radius: 8px
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }